.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url('../../img/type_a/new_book/background.png') center center no-repeat;
  background-size: cover;
}

.content {
  width: calc(100% - 320px);
  height: calc(100vh - 345.33px);
  margin-left: 320px;
  padding-top: 15px;
}

.swiper-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 3520px;
}

.swiper-slide {
  display: grid;
  padding: 0 230px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 60px;
  grid-column-gap: 163px;
  justify-items: center;
}

.slide-item {
  display: flex;
  flex-direction: column;
}

.book_title {
  font-family: "Pretendard", sans-serif;
  font-size: 48px;
  font-weight: 500;
  font-style: normal;
  line-height: 140%;
  overflow: hidden;
  width: 100%;
  max-width: 358px;
  margin-top: 40px;
  margin-bottom: 8px;
  white-space: nowrap;
  letter-spacing: -1.2px;
  text-overflow: ellipsis;
  color:  #191F28;
}

.writer {
  font-family: "Pretendard", sans-serif;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  overflow: hidden;
  width: 100%;
  max-width: 358px;
  white-space: nowrap;
  letter-spacing: -1px;
  text-transform: capitalize;
  text-overflow: ellipsis;
  color: #4E5968;
}

.slide-item img {
  width: 374px;
  height: 540px;
  border-radius: 24px;
  box-shadow: 0 10px 30px 0 rgba(25, 33, 61, 0.20);
  object-fit: cover;
}

.swiper-pagination {
  position: absolute !important;
  top: 1560px !important;
  display: flex !important;
  justify-content: center;
  gap: 40px !important;
}

.swiper-pagination-bullet {
  width: 24px;
  height: 24px;
  opacity: 1;
  border-radius: 50%;
  background-color: #8B95A1;
}


.swiper-pagination-bullet-active {
  width: 24px;
  height: 24px;
  background-color: #FFFFFF;
}

@media (width: 1920px) {
  .content {
    width: calc(100% - 160px);
    height: calc(100vh - 172.665px);
    margin-left: 160px;
    padding-top: 27.72px;
  }

  .swiper-container {
    position: relative;
    width: 100%;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    gap: 70px;
  }

  .slide-item {
    box-sizing: border-box;
    width: 480px;
    height: 679px;
    text-align: center;
    box-shadow: 15px -25px 25px 2px rgba(0, 0, 0, 0.20);
  }

  .slide-item img {
    object-fit: cover;
  }

  .swiper-pagination {
    position: absolute !important;
    top: 745px !important;
    display: flex !important;
    justify-content: center;
    gap: 20px !important;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    opacity: 1;
    border-radius: 50%;
    background-color: #8B95A1;
  }

  .swiper-pagination-bullet-active {
    width: 12px;
    height: 12px;
    background-color: #FFFFFF;
  }
}