.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding-top: 280px;
  background: url('../../img/type_a/welcome_message/background.png') center center no-repeat;
  background-size: cover;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.time {
  font-family: "Century Gothic", sans-serif;
  font-size: 240px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  color: #FFFFFF;
}

.date {
  font-family: "Pretendard", sans-serif;
  font-size: 72px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  margin-bottom: 134px;
  color: #FFFFFF;
}

.title {
  font-family: "Pretendard", sans-serif;
  font-size: 240px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  margin-bottom: 40px;
  text-align: center;
  color: #FFFFFF;
}

.caption {
  font-family: "Pretendard", sans-serif;
  font-size: 60px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.arrow {
  width: 320px;
  height: 320px;
  margin-top: 470px;
  animation: bounce 1.5s infinite ease-in-out;
  background: url('../../img/type_a/welcome_message/arrow.png') center center no-repeat;
  background-size: cover;
}

@keyframes bounce {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(30px);
  }
}