.notice_wrap {
    width:3840px;
    position: relative;
    height: 2160px;
    background: url('../../img/type_b/course_information/bg_lec.png') center center no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  
  .notice_wrap .content {
    width: calc(100% - 320px);
    height: calc(100vh - 345.33px);
    margin-left: 320px;
    position: absolute;
    top: 360px;
  }
  
  .notice_wrap .swiper-container {
    position: relative;
    width: 100%;
    margin-left: 180px;
  }
  
  .notice_wrap .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 60px;
    gap: 20px;
  }
  
  .notice_wrap .slide-item {
    display: flex;
    width: 3112px;
    height: 280px;
    border-radius: 60px;
    background-color: #FFFFFF;
  }
  
  .notice_wrap .left {
    display: flex;
    align-items: center;
    width: 2446px;
    padding: 40px 70px 40px 70px;
    border-radius: 60px 0 0 60px;
    gap: 48px;
  }
  
  .notice_wrap .status {
    font-family: "Pretendard-SemiBold", sans-serif;
    font-size: 44px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 50%;
  }
  
  .notice_wrap .progress {
    color: #029951;
    background: rgba(2, 153, 81, 0.10);
  }
  
  .notice_wrap .apply {
    color : #2F65CD;
    background: rgba(47, 101, 205, 0.10);
  }
  
  .notice_wrap .pending {
    color: #F1B55C;
    background: rgba(241, 181, 92, 0.10);
  }
  
  .notice_wrap .done {
    color: #6B7684;
    background: #EFF1F3;
  }
  
  .notice_wrap .text_wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  .notice_wrap .course_title {
    font-family: "Pretendard-SemiBold", sans-serif;
    font-size: 60px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    overflow: hidden;
    width: 100%;
    max-width: 1080px;
    white-space: nowrap;
    letter-spacing: -1.5px;
    text-overflow: ellipsis;
    color: #191F28;
  }
  
  .notice_wrap .course_detail {
    font-family: "Pretendard-Medium", sans-serif;
    font-size: 44px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    margin-right: 24px;
    color: #6B7684;
  }
  
  .notice_wrap .course_detail span {
    font-family: "Pretendard-Medium", sans-serif;
    font-size: 44px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    margin-right: 60px;
    margin-left: 24px;
    color: #191F28;
  }
  
  .notice_wrap .swiper-pagination {
    position: absolute !important;
    top: 1572px !important;
    left: -280px !important;
    display: flex !important;
    justify-content: center;
    gap: 28px !important;
  }
  
  .notice_wrap .right {
    display: flex;
    width: 100%;
    max-width: 666px;
    border-radius: 0 60px 60px 0;
  }
  
  .notice_wrap .black {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    max-width: 333px;
    /* padding: 78px 40px 48px 40px; */
    text-align: center;
    background: #1C1C1C;
  }
  
  .notice_wrap .gray {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    max-width: 333px;
    /* padding: 78px 40px 48px 40px; */
    text-align: center;
    border-radius: 0 60px 60px 0;
    background: #888888;
  }
  
  .notice_wrap .black div:first-child, .notice_wrap .gray div:first-child {
    font-family: "Pretendard-Regular",sans-serif;
    font-size: 32px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    text-align: center;
    color: #FFF;
  }
  
  .notice_wrap .black div:last-child, .notice_wrap .gray div:last-child {
    font-family: "Century Gothic", sans-serif;
    font-size: 66px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    color: #FFF;
  }
  
  .notice_wrap .highlight {
    font-family: "Century Gothic", sans-serif;
    font-size: 66px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    text-align: center;
    color: #00F6FF;
  }
  
  .notice_wrap .dash {
    font-family: "Century Gothic", sans-serif;
    font-size: 66px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    text-align: center;
    color: #ADB5BD;
  }
  
  .notice_wrap .swiper-pagination-bullet {
    width: 24px;
    height: 24px;
    opacity: 1;
    border-radius: 50%;
    background-color: #8B95A1;
  }
  
  
  .notice_wrap .swiper-pagination-bullet-active {
    width: 24px;
    height: 24px;
    background-color: #191f28;
  }
  
  @media (width: 1920px) {
    .notice_wrap {
        height: 1080px;
        width: 1920px;
    }
  
    .notice_wrap .content {
      width: calc(100% - 160px);
      height: calc(100vh - 172.665px);
      margin-left: 160px;
      top: 180px;
    }
  
    .notice_wrap .swiper-container {
      position: relative;
      width: 100%;
      margin-left: 90px;
    }
  
    .notice_wrap .swiper-slide {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 30px;
      gap: 10px;
    }
  
    .notice_wrap .slide-item {
      display: flex;
      width: 1556px;
      height: 140px;
      border-radius: 30px;
      background-color: #FFFFFF;
    }
  
    .notice_wrap .left {
      display: flex;
      align-items: center;
      width: 1223px;
      padding: 20px 35px 20px 35px;
      border-radius: 30px 0 0 30px;
      gap: 24px;
    }
  
    .notice_wrap .status {
      font-size: 22px;
      font-weight: 600;
      font-style: normal;
      line-height: normal;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100px;
      text-align: center;
      border-radius: 50%;
    }
  
    .notice_wrap .progress {
      color: #029951;
      background: rgba(2, 153, 81, 0.10);
    }
  
    .notice_wrap .apply {
      color: #2F65CD;
      background: rgba(47, 101, 205, 0.10);
    }
  
    .notice_wrap .pending {
      color: #F1B55C;
      background: rgba(241, 181, 92, 0.10);
    }
  
    .notice_wrap .done {
      color: #6B7684;
      background: #EFF1F3;
    }
  
    .notice_wrap .text_wrapper {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  
    .notice_wrap .course_title {
      font-size: 30px;
      font-weight: 600;
      font-style: normal;
      line-height: normal;
      overflow: hidden;
      width: 100%;
      max-width: 540px;
      white-space: nowrap;
      letter-spacing: -0.75px;
      text-overflow: ellipsis;
      color: #191F28;
    }
  
    .notice_wrap .course_detail {
      font-size: 22px;
      font-weight: 500;
      font-style: normal;
      line-height: normal;
      margin-right: 12px;
      color: #6B7684;
    }
  
    .notice_wrap .course_detail span {
      font-size: 22px;
      font-weight: 500;
      font-style: normal;
      line-height: normal;
      margin-right: 30px;
      margin-left: 12px;
      color: #191F28;
    }
  
    .notice_wrap .swiper-pagination {
      position: absolute !important;
      top: 786px !important;
      left: -140px !important;
      display: flex !important;
      justify-content: center;
      gap: 14px !important;
    }
  
    .notice_wrap .right {
      display: flex;
      width: 100%;
      max-width: 333px;
      border-radius: 0 30px 30px 0;
    }
  
    .notice_wrap .black {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      max-width: 166px;
      /* padding: 39px 20px 24px 20px; */
      text-align: center;
      background: #1C1C1C;
    }
  
    .notice_wrap .gray {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      max-width: 166px;
      /* padding: 39px 20px 24px 20px; */
      text-align: center;
      border-radius: 0 30px 30px 0;
      background: #888888;
    }
  
    .notice_wrap .black div:first-child, .notice_wrap .gray div:first-child {
      font-size: 16px;
      font-weight: 500;
      font-style: normal;
      line-height: normal;
      text-align: center;
      color: #FFF;
    }
  
    .notice_wrap .black div:last-child, .notice_wrap .gray div:last-child {
      font-family: "Century Gothic", sans-serif;
      font-size: 33px;
      font-weight: 700;
      font-style: normal;
      line-height: normal;
      color: #FFF;
    }
  
    .notice_wrap .highlight {
      font-family: "Century Gothic", sans-serif;
      font-size: 33px;
      font-weight: 700;
      font-style: normal;
      line-height: normal;
      text-align: center;
      color: #00F6FF;
    }
  
    .notice_wrap .dash {
      font-family: "Century Gothic", sans-serif;
      font-size: 33px;
      font-weight: 700;
      font-style: normal;
      line-height: normal;
      text-align: center;
      color: #ADB5BD;
    }
  
    .notice_wrap .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      opacity: 1;
      border-radius: 50%;
    }
  
    .notice_wrap .swiper-pagination-bullet-active {
      width: 12px;
      height: 12px;
    }
  }