.notice_wrap {
    width:3840px;
    position: relative;
    height: 2160px;
    background: url('../../img/type_b/course_detail/bg_c_de.png') center center no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  
  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(100% - 320px);
    height: calc(100vh - 345.33px);
    margin-left: 320px;
    padding: 0 204px 0 204px;
    position: absolute;
    top: 360px;
  }
  
  .box {
    width: 3112px;
    height: 700px;
    border-radius: 60px;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.25);
  }
  
  .first {
    display: flex;
    align-items: center;
    height: 240px;
    padding: 44.5px 100px 44.5px 100px;
    border-radius: 60px 60px 0 0;
    background-color: #4480F3;
    gap: 48px;
  }
  
  .icon_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: #ADB5BD;
  }
  
  .icon_wrapper img {
    width: 72.8px;
    height: 72.8px;
  }
  
  .label {
    font-family: "Pretendard", sans-serif;
    font-size: 44px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    margin-bottom: 8px;
    color: #6B7684;
  }
  
  .black {
    color: #191F28 !important;
  }
  
  .white {
    color: #FFFFFF !important;
  }
  
  .course_title {
    font-family: "Pretendard", sans-serif;
    font-size: 64px;
    font-weight: 500;
    font-style: normal;
    line-height: 140%;
    overflow: hidden;
    width: 100%;
    max-width: 2660px;
    white-space: nowrap;
    letter-spacing: -1.6px;
    text-overflow: ellipsis;
    color: #FFF;
  }
  
  .second {
    display: flex;
    width: 100%;
    height: 240px;
    background-color: #FFFFFF;
  }
  
  .border {
    border-right: 1px solid #6B7684;
  }
  
  .date_wrapper {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 40px 100px 40px 100px;
    gap: 48px;
  }
  
  .apply_date_wrapper, .course_date_wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .course_date {
    font-family: "Pretendard", sans-serif;
    font-size: 64px;
    font-weight: 500;
    font-style: normal;
    line-height: 140%;
    overflow: hidden;
    letter-spacing: -1.6px;
    text-overflow: ellipsis;
    color: #191F28;
  }
  
  .apply_date {
    font-family: "Pretendard", sans-serif;
    font-size: 64px;
    font-weight: 500;
    font-style: normal;
    line-height: 140%;
    overflow: hidden;
    letter-spacing: -1.6px;
    text-overflow: ellipsis;
    color: #F1B55C;
  }
  
  .third {
    display: flex;
    width: 100%;
  }
  
  .black_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 220px;
    padding: 72px 100px 72px 100px;
    border-radius: 0 0 0 60px;
    background: #1C1C1C;
  }
  
  .gray_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 220px;
    padding: 72px 100px 72px 100px;
    border-radius: 0 0 60px 0;
    background: #888;
  }
  
  .count {
    font-family: "Century Gothic", sans-serif;
    font-size: 76px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    color: #FFF;
  }
  
  .highlight {
    color: #00F6FF;
  }
  
  .dash {
    color: #ADB5BD;
  }
  
  .apply {
    font-family: "Pretendard", sans-serif;
    font-size: 44px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1800px;
    height: 140px;
    margin-top: 80px;
    text-align: center;
    color: #FFF;
    border-radius: 40px;
    background: #8B95A1;
  }
  
  .course_detail {
    width: 3112px;
    margin-top: 8px;
    padding-bottom: 48px;
    border-bottom: 1px solid #6B7684;
  }
  
  .course_detail_first, .course_detail_second {
    display: flex;
    width: 100%;
    padding: 43px 0 43px 0;
    border-bottom: 1px solid #6B7684;
  }
  
  .course_detail_label {
    font-family: "Pretendard", sans-serif;
    font-size: 44px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    width: 50%;
    color: #191F28;
  }
  
  .course_detail_label span {
    font-family: "Pretendard", sans-serif;
    font-size: 44px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    margin-right: 100px;
    color: #6B7684;
  }
  
  .mr {
    margin-right: 135px !important;
  }
  
  .course_detail_third {
    display: flex;
    flex-direction: column;
  }
  
  .padding {
    padding: 43px 0 43px 0;
  }
  
  .scroll {
    font-family: "Pretendard", sans-serif;
    font-size: 44px;
    font-weight: 500;
    font-style: normal;
    line-height: 160%;
    overflow-y: scroll;
    height: 100%;
    max-height: 210px;
    padding-right: 44px;
    color: #191F28;
  }
  
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 4px;
    background: #E5E8EB;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #8B95A1;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #8B95A1;
  }
  
  @media (width: 1920px) {
    .notice_wrap {
        width:1920px;
        height: 1080px;
      }
    .content {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: calc(100% - 160px);
      height: calc(100vh - 172.665px);
      margin-left: 160px;
      padding: 0 102px 0 102px;
      top: 180px;
    }
  
    .box {
      width: 1556px;
      height: 350px;
      border-radius: 30px;
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
    }
  
    .first {
      display: flex;
      align-items: center;
      height: 120px;
      padding: 22.25px 50px 22.25px 50px;
      border-radius: 30px 30px 0 0;
      background-color: #4480F3;
      gap: 24px;
    }
  
    .icon_wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background: #ADB5BD;
    }
  
    .icon_wrapper img {
      width: 36.4px;
      height: 36.4px;
    }
  
    .label {
      font-family: "Pretendard", sans-serif;
      font-size: 22px;
      font-weight: 500;
      font-style: normal;
      line-height: normal;
      margin-bottom: 4px;
      color: #6B7684;
    }
  
    .black {
      color: #191F28 !important;
    }
  
    .white {
      color: #FFFFFF !important;
    }
  
    .course_title {
      font-family: "Pretendard", sans-serif;
      font-size: 32px;
      font-weight: 500;
      font-style: normal;
      line-height: 140%;
      overflow: hidden;
      width: 100%;
      max-width: 1330px;
      white-space: nowrap;
      letter-spacing: -0.8px;
      text-overflow: ellipsis;
      color: #FFF;
    }
  
    .second {
      display: flex;
      width: 100%;
      height: 120px;
      background-color: #FFFFFF;
    }
  
    .border {
      border-right: 1px solid #6B7684;
    }
  
    .date_wrapper {
      display: flex;
      align-items: center;
      width: 50%;
      padding: 20px 50px 20px 50px;
      gap: 24px;
    }
  
    .apply_date_wrapper, .course_date_wrapper {
      display: flex;
      flex-direction: column;
    }
  
    .course_date {
      font-family: "Pretendard", sans-serif;
      font-size: 32px;
      font-weight: 500;
      font-style: normal;
      line-height: 140%;
      overflow: hidden;
      letter-spacing: -0.8px;
      text-overflow: ellipsis;
      color: #191F28;
    }
  
    .apply_date {
      font-family: "Pretendard", sans-serif;
      font-size: 32px;
      font-weight: 500;
      font-style: normal;
      line-height: 140%;
      overflow: hidden;
      letter-spacing: -0.8px;
      text-overflow: ellipsis;
      color: #F1B55C;
    }
  
    .third {
      display: flex;
      width: 100%;
    }
  
    .black_box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 50%;
      height: 110px;
      padding: 36px 50px 36px 50px;
      border-radius: 0 0 0 30px;
      background: #1C1C1C;
    }
  
    .gray_box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 50%;
      height: 110px;
      padding: 36px 50px 36px 50px;
      border-radius: 0 0 30px 0;
      background: #888;
    }
  
    .count {
      font-family: "Century Gothic", sans-serif;
      font-size: 38px;
      font-weight: 700;
      font-style: normal;
      line-height: normal;
      color: #FFF;
    }
  
    .highlight {
      color: #00F6FF;
    }
  
    .dash {
      color: #ADB5BD;
    }
  
    .apply {
      font-family: "Pretendard", sans-serif;
      font-size: 22px;
      font-weight: 700;
      font-style: normal;
      line-height: normal;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 900px;
      height: 70px;
      margin-top: 40px;
      text-align: center;
      color: #FFF;
      border-radius: 20px;
      background: #8B95A1;
    }
  
    .course_detail {
      width: 1556px;
      margin-top: 4px;
      padding-bottom: 24px;
      border-bottom: 1px solid #6B7684;
    }
  
    .course_detail_first, .course_detail_second {
      display: flex;
      width: 100%;
      padding: 21.5px 0 21.5px 0;
      border-bottom: 1px solid #6B7684;
    }
  
    .course_detail_label {
      font-family: "Pretendard", sans-serif;
      font-size: 22px;
      font-weight: 400;
      font-style: normal;
      line-height: normal;
      width: 50%;
      color: #191F28;
    }
  
    .course_detail_label span {
      font-family: "Pretendard", sans-serif;
      font-size: 22px;
      font-weight: 500;
      font-style: normal;
      line-height: normal;
      margin-right: 50px;
      color: #6B7684;
    }
  
    .mr {
      margin-right: 67.5px !important;
    }
  
    .course_detail_third {
      display: flex;
      flex-direction: column;
    }
  
    .padding {
      padding: 21.5px 0 21.5px 0;
    }
  
    .scroll {
      font-family: "Pretendard", sans-serif;
      font-size: 22px;
      font-weight: 500;
      font-style: normal;
      line-height: 160%;
      overflow-y: scroll;
      height: 100%;
      max-height: 105px;
      padding-right: 22px;
      color: #191F28;
    }
  
    ::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }
  
    ::-webkit-scrollbar-track {
      border-radius: 2px;
      background: #E5E8EB;
    }
  
    ::-webkit-scrollbar-thumb {
      border-radius: 2px;
      background: #8B95A1;
    }
  
    ::-webkit-scrollbar-thumb:hover {
      background: #8B95A1;
    }
  }