.notice_wrap {
    width:3840px;
    position: relative;
    height: 2160px;
    background: url('../../img/type_b/notice/bg_noti.png') center center no-repeat;
    background-size: cover;
    overflow: hidden;
  }

.notice_wrap .header h1{color:#fff;}
  
  .content {
    width: calc(100% - 320px);
    height: calc(2160px - 345px);
    position: absolute;
    width: 3520px;
    top: 400px;
    left: 320px;
  }
  
  
  .notice_wrap .swiper-slide {
    display: flex !important;
    justify-content: center;
    gap: 140px;
  }
  
  .notice_wrap .slide-item {
    box-sizing: border-box;
    width: 960px;
    height: 1358px;
    text-align: center;
    box-shadow: 30px -50px 50px 4px rgba(0, 0, 0, 0.20);
  }
  
  .notice_wrap .slide-item img {
    object-fit: cover;
  }
  
  .notice_wrap .swiper-pagination {
    position: absolute !important;
    top: 1490px !important;
    display: flex !important;
    justify-content: center;
    gap: 40px !important;
    height: 30px;
    align-items: center;
  }
  
  .notice_wrap .swiper-pagination-bullet {
    width: 24px;
    height: 24px;
    opacity: 1;
    border-radius: 50%;
    background-color: #8B95A1;
  }
  
  
  .notice_wrap .swiper-pagination-bullet-active {
    width: 24px;
    height: 24px;
    background-color: #191f28;
  }
  
  @media (width: 1920px) {
    .notice_wrap {
    width:1920px;
    height: 1080px;
    }

    .notice_wrap .content {
        width: calc(100% - 160px);
        height: calc(2160px - 173px);
        width: 1760px;
        top: 200px;
        left: 160px;
      }
  
   .notice_wrap .swiper-container {
      position: relative;
      width: 100%;
    }
  
    .notice_wrap .swiper-slide {
      display: flex;
      justify-content: center;
      gap: 70px;
    }
  
    .notice_wrap .slide-item {
      box-sizing: border-box;
      width: 480px;
      height: 679px;
      text-align: center;
      box-shadow: 15px -25px 25px 2px rgba(0, 0, 0, 0.20);
    }
  
    .notice_wrap .slide-item img {
      object-fit: cover;
    }
  
    .notice_wrap .swiper-pagination {
      position: absolute !important;
      top: 745px !important;
      display: flex !important;
      justify-content: center;
      gap: 20px !important;
    }
  
   .notice_wrap .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      opacity: 1;
      border-radius: 50%;
    }
  
   .notice_wrap .swiper-pagination-bullet-active {
      width: 12px;
      height: 12px;
    }
  }