.div_wrap_info {
	background: url(../../img/type_b/main/bg_wel.png);
	background-position: center;
	background-size: cover;
}

.wrapper {
	width: 3520px;
	top: 1747px;
	position: absolute;
}
.welcome_message {
	color: #191f28;
	text-align: center;
	font-family: 'Pretendard-Medium', sans-serif;
	font-size: 120px;
	line-height: 140%;
	font-weight: 600;
	position: relative;
	align-self: stretch;
	animation: fadein 3s;
	-moz-animation: fadein 3s; /* Firefox */
	-webkit-animation: fadein 3s; /* Safari and Chrome */
	-o-animation: fadein 3s;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes fadein {
	/* Safari and Chrome */
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.caption {
	color: #8b95a1;
	text-align: center;
	font-family: 'Pretendard-Regular', sans-serif;
	font-size: 52px;
	line-height: 150%;
	font-weight: 400;
	position: relative;
	align-self: stretch;
	display: flex;
	align-items: center;
	justify-content: center;
}
.time_and_date {
	position: absolute;
	top: calc(50% - 820px);
	left: 50%;
	transform: translateX(-50%);
}
.contents {
	width: 3520px;
	position: fixed;
	right: 0;
	height: 2160px;
	/* position: relative; */
}
.time_txt {
	color: #ffffff;
	text-align: left;
	font-family: 'Century Gothic', sans-serif;
	font-size: 180px;
	font-weight: 500;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.date_txt span,
.date_txt {
	color: #ffffff;
	text-align: left;
	font-family: 'Pretendard-Medium', sans-serif;
	font-size: 60px;
	font-weight: 500;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-width: 1920px) {
	.wrapper {
		width: 1760px;
		top: 874px;
	}
	.welcome_message {
		font-size: 60px;
	}
	.caption {
		font-size: 26px;
	}
	.contents {
		width: 1760px;
		height: 1080px;
	}
	.time_and_date {
		top: calc(50% - 410px);
	}
	.time_txt {
		font-size: 90px;
	}
	.date_txt span,
	.date_txt {
		font-size: 30px;
	}
}
